{% extends 'base.html' %}
{% load el_pagination_tags %}

{% block title %}core - lire {% endblock %}

{% block content %}
    <div class="container">
        {% paginate 1 images %}
        {% get_pages %}
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="offset-md-4 col-md-4 text-center">
                    {% show_pages %}
                </div>
                <div class="row">
                    {% for image in images %}
                        <div class="offset-md-12 col-md-12">
                            <a href="{{ pages.next.url }}"><img src="{{ image.image.url }}"
                                                                class="img-fluid"/></a>
                        </div>
                        </div>
                    {% endfor %}
                <div class="row">
                    <div class="offset-md-4 col-md-4 text-center">
                        {% show_pages %}
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-md-4 col-md-4 text-center">
            <a href="{% url 'core_home' %}">acceuil</a>
        </div>
    </div>
{% endblock %}